{% extends 'base_in.html' %}
{% block title %}Накопления{% endblock %}

{% block content %}   
    <!-- Order section -->
  

      <section class="container-fluid section-in section-table">
      <h1 class="text-center">Накопления #ДрузьямДрузей</h1>
      <p class="text-center">Получайте 10% в месяц от суммы вклада. Вклады от 2 месяцев</p>
      <div class="row">
        <div class="col-md-12 text-center">
        <a href="/faq" class="text-center">Подробнее</a>          
        </div>
      </div>
      
      <div class="row margin-my-block">
        <div class="col-md-6 col-md-offset-3">
          <form id="form-for-sent">
          <div class="form-group">
          <input type="hidden" name="formname" value='Заявка из формы "Накопления #ДрузьямДрузей"'>
            <input type="text" class="form-control  input-order" id="exampleInputPassword1" placeholder="Введите телефон" name="phone">
          </div>
         
         
          <div class="clearfix"></div>

          <p class="text-right">Спасибо, мы свяжемся с вами в ближайшее время</p>

        </form>
         <button class="btn-order-yes pull-right">Сделать вклад</button>
        </div>
      </div>
      </section>

        <script type="text/javascript">
  $(document).on('click','.btn-order-yes', function(){

    phone = $.trim($('input[name=phone]').val());
    if(phone.length<3){
          alert('Укажите телефон');
    }
    else {

      $.ajax({
              url: "/email_send_all/",
              dataType: "html",
              type:"POST",
              data: {"form": JSON.stringify($("#form-for-sent").serializeArray())},
              error: function(){
                alert("Ошибка соединения");
              },
              success: function(){
              window.location.replace("/thanks/");
              }
            });


    }      

  });

    

  

  </script>

    <!-- /Order section -->
     {% endblock %}