{% extends 'base_out.html' %}
{% block title %}Восстановление пароля{% endblock %}

{% block contentright %}
        <div class="col-md-3 col-md-offset-1 right-block-index">
            <form>
              <div class="form-group">
              <input type="email" class="form-control input-text" id="exampleInputEmail1" placeholder="Эл.почта">
              </div>



            
                
              <button type="submit" class="btn btn-login pull-right">            
              <span class="glyphicon glyphicon-menu-right center-block" aria-hidden="true"></span>
              </button>
            </form>
            <p >На почту придет новый пароль</p> 
            
        </div>
      

{% endblock %}