{% extends 'base_out.html' %}
{% block title %}Нет кода?{% endblock %}

{% block contentright %}
        <div class="col-md-3 col-md-offset-1 right-block-index">
         
            <form>
               <h3>Нет клубного кода?</h3>
               <h4>Подайде заявку через</h4>
              <ul class="list-inline social-icon text-left">
              <li><i class="flaticon-facebook2"></i>Facebook</li>
              <li><i class="flaticon-vk5"></i>Vk.com</li>
              </ul>
            </form>            
        </div>
{% endblock %}