{% extends 'base_in.html' %}
{% block title %}Оформление заказа{% endblock %}

{% block content %}


    <!-- Order section -->

      <section class="container-fluid section-in section-table">
      <h1 class="text-center">Оформление заказа</h1>
      <table class="table table-striped mystyle-table">
        <tr>
          <td>Macbook Pro 13 Mgx72ru/a</td>        
          <td>
            <select class="selectpicker" >
            <option selected>1 шт </option>
            <option>2 шт </option>
            <option>3 шт </option>
            <option>4 шт </option>
            <option>5 шт </option>
            <option>6 шт </option>
            <option>7 шт </option>
            <option>8 шт </option>
            <option>9 шт </option>
            <option>10 шт </option>
            <option>11 шт </option>
            <option>12 шт </option>        
            </select>  
          </td>
          <td>34200</td>
          <td><a href="#" title="Удалить"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </td>
        </tr>

        <tr>
          <td>Macbook Pro 13 Mgx72ru/a</td>
          <td>
            <select class="selectpicker" >
            <option selected>1 шт </option>
            <option>2 шт </option>
            <option>3 шт </option>
            <option>4 шт </option>
            <option>5 шт </option>
            <option>6 шт </option>
            <option>7 шт </option>
            <option>8 шт </option>
            <option>9 шт </option>
            <option>10 шт </option>
            <option>11 шт </option>
            <option>12 шт </option>        
            </select>  
          </td>
          <td>34200</td>
          <td><a href="#" title="Удалить"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </td>
        </tr>

        <tr>
          <td>Macbook Pro 13 Mgx72ru/a</td>

          <td>
            <select class="selectpicker" >
            <option selected>1 шт </option>
            <option>2 шт </option>
            <option>3 шт </option>
            <option>4 шт </option>
            <option>5 шт </option>
            <option>6 шт </option>
            <option>7 шт </option>
            <option>8 шт </option>
            <option>9 шт </option>
            <option>10 шт </option>
            <option>11 шт </option>
            <option>12 шт </option>        
            </select>  
          </td>
          <td>34200</td>
           <td><a href="#" title="Удалить"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </td>
        </tr>
      </table>

      <div class="container-fluid">
        <p class="text-right itog-price">Итого: <span>199000</span> руб</p>        
      </div>

      <div class="container-fluid text-right">      
          <form class="form-inline pull-right">
          <div class="form-group ">
          <input type="email" class="form-control input-order" id="exampleInputEmail2" placeholder="Введите телефон">
          </div>
          <button type="submit" class="btn-order-yes" href="/thanks">Заказать</button>
          </form>    
      </div>
    

        
      </section>

    <!-- /Order section -->



{% endblock %}

  {% block script %}
     <script>
      $('.selectpicker').selectpicker(
        {
          width: '75px',
        });
      </script>

  {% endblock %}
