
{% extends 'base_in.html' %}
{% load staticfiles %}
{% block title %}Оформление заказа{% endblock %}

{% block content %}

<!-- Small modal -->
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Удалить товар?</h4>
      </div>
      <div class="modal-body text-center">
        <button id="" data-dismiss="modal" aria-label="Close" class="btn remove-good btn-order-yes">Удалить</button>
      </div>
      
    </div>
  </div>
</div>
    <!-- Order section -->


      <section class="container-fluid section-in section-table">
      <h1 class="text-center">Оформление заказа</h1>
      <table class="table table-striped mystyle-table">
      {% for good in goods %}
        <tr id="{{ good.id }}">
          <td>{{good.category}} {{good.specifications}}</td>        
          <td>
            <select class=" selectpicker selectpicker{{good.id}}" >
            <option selected>1 шт </option>
            <option>2 шт </option>
            <option>3 шт </option>
            <option>4 шт </option>
            <option>5 шт </option>
            <option>6 шт </option>
            <option>7 шт </option>
            <option>8 шт </option>
            <option>9 шт </option>
            <option>10 шт </option>
            <option>11 шт </option>
            <option>12 шт </option>        
            </select>  
          </td>
          <td>{{good.price}}</td>
          <td><a href="#" title="Удалить" data-toggle="modal" data-target=".bs-example-modal-sm" class="change-id" id="{{good.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </td>
        </tr>
      

         
        {% endfor %}

  


      </table>

      <div class="container-fluid">
        <p class="text-right itog-price">Итого: <span>{{summ_order}}</span> руб</p>        
      </div>

      <div class="container-fluid text-right">      
          <form class="form-inline pull-right">
          <div class="form-group ">
          <input type="email" class="form-control input-order" id="exampleInputEmail2" placeholder="Введите телефон">
          </div>
          <button type="submit" class="btn-order-yes" href="/thanks">Заказать</button>
          </form>    
      </div>
    

        
      </section>

    <!-- /Order section -->

     


   

{% endblock %}

  {% block script %}

      <script src="{% static 'js/bootstrap-select.js' %}"></script>
      <script>
        $('.selectpicker').selectpicker(
        {
          width: "75px",
        });

        $(document).on('click','.change-id',function(){
          var id_good = $(this).attr('id');
          $('.remove-good').attr('id',id_good);
        });

        $(document).on('click','.remove-good',function(){
          var id_good = $(this).attr('id');
          $('tr[id='+id_good+']').remove();
        });

        

      </script>

  

  {% endblock %}
