
{% extends 'base_in.html' %}
{% load staticfiles %}
{% block title %}Оформление заказа{% endblock %}

{% block content %}

<!-- Small modal -->
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Удалить товар?</h4>
      </div>
      <div class="modal-body text-center">
        <button id="" data-dismiss="modal" aria-label="Close" class="btn remove-good btn-order-yes">Удалить</button>
      </div>
      
    </div>
  </div>
</div>
    <!-- Order section -->


      <section class="container-fluid section-in section-table">
      <h1 class="text-center">Оформление заказа</h1>
      <table class="table table-striped mystyle-table">
      {% for good in goods %}
        <tr id="{{ good.id }}">
          <td class="name-goods">{{good.category}} {{good.specifications}}</td>        
          <td>
            <select class=" selectpicker" id="{{good.id}}" >
            <option selected value="1">1 шт </option>
            <option value="2">2 шт </option>
            <option value="3">3 шт </option>
            <option value="4">4 шт </option>
            <option value="5">5 шт </option>
            <option value="6">6 шт </option>
            <option value="7">7 шт </option>
            <option value="8">8 шт </option>
            <option value="9">9 шт </option>
            <option value="10">10 шт </option>
            <option value="11">11 шт </option>
            <option value="12">12 шт </option>        
            </select>  
          </td>
          <td id="{{good.price}}" class="price-td">{{good.price}}</td>
          <td><a href="#" title="Удалить" data-toggle="modal" data-target=".bs-example-modal-sm" class="change-id" id="{{good.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </td>
        </tr>
      

         
        {% endfor %}

  


      </table>

      <div class="container-fluid">
        <p class="text-right itog-price">Итого: <span>{{summ_order}}</span> руб</p>        
      </div>

      <div class="container-fluid text-right section-table-order">      
          <div class="form-inline pull-right" method="POST" action="">
          <div class="form-group ">
          <input type="email" class="form-control input-order" name="phone" placeholder="Введите телефон">
          </div>
          <button class="btn-order-yes send-email">Заказать</button>
          </div>    
      </div>        
      </section>

    <!-- /Order section -->

     


   

{% endblock %}

  {% block script %}

      <script src="{% static 'js/bootstrap-select.js' %}"></script>
      <script>
        $('.selectpicker').selectpicker(
        {
          width: "75px",
        });

        function update_summ(){
           var order_summ = 0
          $('.price-td').each(function(i,elem) {
           order_summ += parseInt($(this).text());
          });
          $('.itog-price').text('Итого: '+order_summ+' руб');
        }

        $(document).on('click','.change-id',function(){
          var id_good = $(this).attr('id');
          $('.remove-good').attr('id',id_good);
        });

        $(document).on('click','.remove-good',function(){
          var id_good = $(this).attr('id');
          $('tr[id='+id_good+']').remove();
          update_summ();
        });

         $(document).on('change','.selectpicker',function(){
          var selected_count= parseInt($(this).val());
          var first_count = $(this).parent('td').next('td').attr("id");
          var new_count = $(this).parent('td').next('td').text(parseInt(first_count)*selected_count);
          update_summ();

        });

          $(document).on('click','.send-email',function(){

          
          phone = $.trim($('input[name=phone]').val());
          if(phone.length<3){
            alert('Укажите телефон');
          }
          else{

          list_goods = []

          $('.selectpicker').each(function(i,elem) {
            var id_good = $(this).attr('id');
            var count_goods = $(this).val();
            var name = $(this).parent("td").siblings(".name-goods").text();
            var price = $(this).parent("td").siblings(".price-td").attr("id");
            dict_good = {"id":id_good,"count":parseInt(count_goods),"price":price,"name":name}
            list_goods.push(dict_good);
          });

          data = JSON.stringify(list_goods);

          $.ajax({
              url: "/email_send/",
              dataType: "html",
              type:"POST",
              data: {
                "data_goods":data,
                "phone":phone,
              },
              error: function(){
                alert("Ошибка соединения");
              },
              success: function(data){
              // alert(data);
              window.location.replace("/thanks/");
              }
            });

        }
        });
      </script>

  

  {% endblock %}
