{% extends 'base_in.html' %}
{% block title %}Оставить отзыв{% endblock %}

{% block content %}
    <!-- Order section -->

      <section class="container-fluid section-in section-table">
      <h1 class="text-center">Оставьте отзыв о клубе</h1>
      <p class="text-center">Получите возможность приглашать в клуб</p>
           
      <div class="row margin-my-block">
        <div class="col-md-6 col-md-offset-3">
        <!-- 
        <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 5, width: "auto", attach: "*"});
        </script>
        -->

        <button type="submit" class="btn-order-yes pull-right">Готово</button>   
   
        </div>
      </div>
      </section>

    <!-- /Order section -->

{% endblock %}