{% extends 'base_out.html' %}
{% block title %}Восстановление пароля{% endblock %}


  
{% block contentright %}
        <div class="col-md-4 right-block-index">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner text-center" role="listbox">
            <div class="item active"><br><br><br>
            <h3>Первое правило</h3>
             <p>Вы говорите друзьям о нашем клубе</p>
            </div>
            <div class="item"><br><br><br>
             <h3>Второе правило</h3>
             <p>Вы говорите!! Друзьям о нашем клубе</p>
            </div>
            <div class="item">
             <h3>Третье правило</h3>
             <p>Член клуба кричит "AAAA" предоплата за заказ или не верит, что получит качественный товар, если срок чуть сдвинулся по независящим от нас причинам, или начинает слишком паниковать - членство в клубе окончено после того как он получит свой товар по супер цене</p>
            </div>
            <div class="item"><br><br>
             <h3>Четвертое правило</h3>
                <p>Двое или более друзей приходят к нам,
                если вам привезли качественный товар по минимальной
                в снг цене
                в оговоренный срок</p>
            </div>
            <div class="item"><br><br>
             <h3>Пятое правило правило</h3>
              <p>Каждый член клуба получает кэшбек от заказа друга, которому он переслал одно из своих приглашений</p>
            </div>
            <div class="item">
             <h3>Шестое правило</h3>
             <p>Страшно за предоплату - требуйте расписку или договор. При получении заказа - пишите в свободной форме что сумма, равная предоплате возвращена передается выдающему заказ или принимавшему предоплату</p>
            </div>
            <div class="item"><br>
             <h3>Седьмое правило</h3>
                <p>Поставка может затянуться
                на несколько дней если в срок
                встряли праздничные дни тотального 
                бездействия или по независящим
                от клуба причинам логистика затянулась</p>
            </div>
            <div class="item"><br><br>
             <h3>Восьмое правило</h3>
             <p>Если вы узнали от члена клуба
              о ценах, условиях,
              качестве товара и сервиса
              в клубе #ДрузьямДрузей
              - вы делаете заказ</p>
            </div>
        
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  
          </a>
          </div>
        </div>  


{% endblock %}




{% block script %}
  <script type="text/javascript">
      $('.carousel').carousel();
  </script>
{% endblock %}