{% extends 'base_out.html' %}

{% load i18n %}
{% load account %}

{% block title %}Сбросить пароль{% endblock %}

{% block contentright %}
        <div class="col-md-3 col-md-offset-1 right-block-index">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
              <div class="form-group">
              {% csrf_token %}
                {{ form.email }}

             <!--  <input type="email" class="form-control input-text" id="exampleInputEmail1" placeholder="Эл.почта"> -->
              </div>
                
              <button type="submit" class="btn btn-login pull-right">            
              <span class="glyphicon glyphicon-menu-right center-block" aria-hidden="true"></span>
              </button>
            </form>            
        </div>
      

{% endblock %}
