{% extends 'base_out.html' %}

{% load i18n %}
{% load account %}

{% block title %}Вступить в клуб{% endblock %}

{% block contentright %}

        <div class="col-md-3 col-md-offset-1 right-block-index">
  

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
             <!--  <div class="form-group">
              <input type="text" class="form-control input-text" id="exampleInputEmail1" placeholder="Клубный код">
              </div> -->

               {% csrf_token %} 
  			<div class="form-group">
              {{ form.email}}
              {{ form.email.errors }}
              <!-- <input type="email" class="form-control input-text" id="exampleInputEmail1" placeholder="Эл.почта"> -->
              </div>
              <div class="form-group">
              {{ form.password1}}
              {{ form.password1.errors }}
              <!-- <input type="password" class="form-control input-text" id="exampleInputPassword1" placeholder="Пароль"> -->
              </div>
              <div class="form-group">
              {{ form.password2}}
              {{ form.password2.errors }}
              <!-- <input type="password" class="form-control input-text" id="exampleInputPassword1" placeholder="Пароль"> -->
              </div>
              

              <button type="submit" class="btn btn-login pull-right">            
              <span class="glyphicon glyphicon-menu-right center-block" aria-hidden="true"></span>
              </button>
              


              <ul class="list-inline social-icon text-left">
              <li><i class="flaticon-facebook2"></i>Facebook</li>
              <li><i class="flaticon-vk5"></i>Vk.com</li>
              </ul>
            </form>
            <!-- <a href="/nocode">Нет клубного кода?</a>  -->
            
        </div>
{% endblock %}

{% block clublogin %}<a href="/"> Войти в клуб</a>{% endblock %}


